.about_box{
    position: sticky;
    top:0px;
    background-color:var( --box1-bg-color);
    color: whitesmoke;
    width:90%;
    margin: 150px auto 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px   ;
    justify-content: center;
    padding: 50px 50px;  
}
.about_me{
    width:500px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.about_me h1{
    font-size: 2rem;
    width:180px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.483);
    border-radius: 10px;
}
.about_me p{
    text-align: justify;
    font-size: 1.1rem;
    min-width: 300px;
    line-height: 2;
}
.about_img{
    width: 280px;
    height:280px;
    min-width: 300px;   
}
.about_img img{
    width: 100%;
    height: 100%;
    border-radius: 100%; 
}


@media only screen and (max-width: 600px) {
    .about_box{
        justify-content: center;
        margin-bottom: 100px;
        position: static;
        text-align: center;
    }
    .about_img img{
        width: 80%;
        height: 80%;
        border-radius: 100%; 
    }
    .about_me h1{
       align-self: center;
    }
    .about_me p{
        font-size: 1rem;
        padding: 5px;
    }
   

}