.card{
    width: 350px;
    padding: 25px;
    background-color:var( --box1-bg-color);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 0px 10px black;
    
}
.c_icon{
    width: 50px;
    height: 50px;
   background-color: black;
   color: whitesmoke;
   text-align: center;
   padding-top: 10px;
   border-radius: 100%;                
}
.c_icon i{
    font-size: 2rem;
}
.card h6{
    font-size: 1.5rem;
}
.card p{
    font-size: 14px;
    line-height: 1.5;
 
}
.js_box{
    position: relative;
    top:50px;
}
.n_box{
    position: relative;
    top:20px;
}
@media only screen and (max-width: 600px) {
    .js_box, .n_box{
       position: static;
    }
}