.card_box{
    position: sticky;
    top:0px;
    padding: 50px 0;
    width:90%;
    min-width: 300px;
    margin: auto;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    justify-content: center;
   
}
@media only screen and (max-width: 600px) {
    .card_box{
        position: static;
    }

}

