.header_title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:50%;
    text-align: center;
    color: whitesmoke;
}
.header_title h1{
    font-size: 3.5rem;
}
@media only screen and (max-width: 600px) {
    .header_title{
        width: 100%;
    }
    .header_title h1{
        font-size: 2rem;  
    } 
}